:root {
    --components--table--table-body--tr--height: 30px;
    --components--table--table-body--tr--hover--background-color: #353637;
    --components--table--table-body--tr--hover--color: #f0f0f0;
    --components--table--table-body--tr--even--background-color: #fff;
}
