.components--table--table-header {
    font-weight: normal;
    padding: 0 20px;
    background-color: var(--components--table--table-head--background-color);
    height: var(--components--table--table-head--height);
}
