.screens--app--overview--overview-header--div {
    height: 40px;
    line-height: 40px;

    &--label--span {
        margin: 0 10px;
        display: inline-block;
    }

    &--icon-button {
        display: inline-block;
    }
}
